header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--light);
}

@media screen and (max-width: 518px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#header-name {
  color: var(--primary);
  padding: 10px 20px;
  margin: 0;
}  
