nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
    
li {
  display:inline-block;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 647px) {
  li {
    display: block;
  }
}
    
nav a {
  text-decoration: none;
  padding: 4px;
  color: var(--primary);
  margin-right: 10px;
  transition: transform 0.3s ease-in, font-size 0.3s ease-in;
  font-size: 1.3rem;
  display: inline-block;
}

nav a:hover {
  color: var(--secondary);
  transform: scale(1.1); 
}
