.proficiencies-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 0.8;
}

.proficiencies-list li {
  line-height: 1.3;
}

#download {
  text-align: center;
}

#resume {
  text-decoration:underline;
  color: var(--dark);
}

#resume:hover {
  color: var(--secondary);
}